{% extends 'singlecard.html.twig' %}

{% block title %}Sortie : {{ meetup.name }}{% endblock %}

{% block card_header %}
    <h2 class="text-center">{{ meetup.name }}</h2>
{% endblock %}

{% block card_body %}
<article>
    {% if meetup.cancelled %}
    <div class="alert alert-{{ ( cancelAlert ) ? 'danger' : 'secondary' }}">
        <p>Cette sortie a été annulée</p>

        <p class="h6">Date</p>
        <p>{{ meetup.cancellationDate | format_datetime(locale='fr') }}</p>
        <p class="h6">Raison</p>
        <p class="mb-0">{{ meetup.cancellationReason }}</p>
    </div>
    {% endif %}

    <div class="details {{ ( meetup.cancelled ) ? 'text-muted' : '' }}">
        <p class="lead">{{ meetup.description }}</p>

        <div class="mb-2">
            <div class="d-flex gap-5">
                <div class="location">
                    <h5>Lieu</h5>
                    <address>
                        <strong>{{ meetup.location.name }}</strong><br>
                        {{ meetup.location.address }}<br>
                        {{ meetup.location.city.postalCode }} {{ meetup.location.city.name }}<br>
                    </address>
                </div>
                <div class="date">
                    <h5>Date</h5>
                    <p>
                        <time datetime="{{ meetup.start | date('c') }}">
                            {{ meetup.start | format_datetime(locale='fr') }}
                        </time>
                    </p>
                    <div>
                        <h6>Durée</h6>
                        <p>
                            {% if meetup.duration.d > 0 and meetup.duration.h > 0 %}
                                {{ '%d jour(s), %h heure(s)' | format(meetup.duration.d, meetup.duration.h) }}
                            {% elseif meetup.duration.d > 0 %}
                                {{ '%d jour(s)' | format(meetup.duration.d) }}
                            {% elseif meetup.duration.h > 0 %}
                                {{ '%h heure(s)' | format(meetup.duration.h) }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex gap-5">
                <div>
                    <h5>Organisateur</h5>
                    <p>
                        <a class="text-decoration-none"
                           href="{{ path('app_user_profile', { 'id' : meetup.coordinator.id}) }}">
                            {{ meetup.coordinator.name }} {{ meetup.coordinator.surname }}
                        </a>
                    </p>
                </div>
                <div>
                    <h5>Campus</h5>
                    <p>{{ meetup.campus.name }}</p>
                </div>
            </div>

            <div>
                <h5>Participants</h5>
                <ul>
                    {% for attendee in meetup.attendees %}
                        <li>
                            <a class="text-decoration-none"
                               href="{{ path('app_user_profile', { 'id' : attendee.id }) }}">
                                {{ attendee.name }} {{ attendee.surname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-evenly mb-4">
        {% if registerEnabled %}
        <button class="btn btn-primary" form="register" type="submit">S'inscrire</button>
        {% endif %}
        {% if desistEnabled %}
        <button class="btn btn-primary" form="desist" type="submit">Se désister</button>
        {% endif %}
        {% if cancelEnabled %}
        <buttton class="btn btn-outline-primary"
                 type="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#cancelCollapse">Annuler</buttton>
        {% endif %}
    </div>

    {% if registerEnabled %}
        {{ form (
            registerFormView,
            { 'attr' : { 'id' : 'register' } }
        ) }}
    {% endif %}

    {% if desistEnabled %}
        {{ form (
            desistFormView,
            { 'attr' : { 'id' : 'desist' } }
        ) }}
    {% endif %}

    {% if cancelEnabled %}
    <div id="cancelCollapse" class="collapse">
        {{ form_start(cancelFormView) }}
            {{ form_row(cancelFormView.cancellationReason) }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger">Annuler</button>
            </div>
        {{ form_end(cancelFormView) }}
    </div>
    {% endif %}
</article>
{% endblock %}


