{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    {{ form_start(form)}}
    <div class="d-flex flex-wrap mx-3 mt-1 mb-3">
        <div class="d-flex flex-column mb-3 me-5">
            {{ form_row(form.campus) }}
            {{ form_row(form.research) }}
        </div>

        <div class="d-flex flex-column justify-content-evenly mb-3 me-5">
            {{ form_row(form.coordinator) }}
            {{ form_row(form.registered) }}
            {{ form_row(form.no_registered) }}
            {{ form_row(form.past) }}
        </div>

        <div class="d-flex flex-column align-items-start gap-4 mb-3">
            <div class="d-flex flex-wrap gap-3">
                <div class="d-flex align-items-center gap-3">
                    <p class="m-0">Entre</p>
                    <div>
                        {{ form_widget(form.start) }}
                        {{ form_errors(form.start) }}
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <p class="m-0">et</p>
                    <div>
                        {{ form_widget(form.end) }}
                        {{ form_errors(form.end) }}
                    </div>
                </div>
            </div>
            <div class="d-flex gap-4">
                <button type="submit" class="btn btn-lg btn-primary" name="research_button" value="true">Rechercher</button>
                <a href="{{ path('app_meetup_new') }}" class="btn btn-lg btn-primary">Créer une sortie</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="mx-0 mx-md-3 mb-3">
        <table class="table border table-sm table-responsive">
            <thead>
                <tr>
                    <th scope="col">
                        Sortie
                    </th>
                    <th scope="col">
                        Date
                    </th>
                    <th class="d-none d-md-table-cell"
                        scope="col">
                        Clôture
                    </th>
                    <th class="d-none d-md-table-cell"
                        scope="col">
                        Places
                    </th>
                    <th class="d-none d-sm-table-cell"
                        scope="col">
                        Etat
                    </th>
                    <th class="d-none d-sm-table-cell"
                        scope="col">
                        Inscrit
                    </th>
                    <th class="d-none d-sm-table-cell"
                        scope="col">
                        Organisateur
                    </th>
                    <th class="text-nowrap" scope="col">
                        Actions
                    </th>
                </tr>
            </thead>

            {% for meetup in meetup_list %}
                <tr>
                    <td>
                        {{ meetup.name }}
                    </td>
                    <td class="text-nowrap">
                        {{ meetup.start | date | format_datetime(locale='fr',pattern="dd MMMM Y")|capitalize() }}
                    </td>
                    <td class="d-none d-md-table-cell text-nowrap">
                        {{ meetup.registrationEnd | date |format_datetime(locale='fr',pattern="dd MMMM Y")|capitalize() }}
                    </td>
                    <td class="d-none d-md-table-cell">
                        {{ meetup.attendees | length }}/{{ meetup.capacity }}
                    </td>
                    <td class="d-none d-sm-table-cell text-nowrap">
                        {{ meetup.status.value}}
                    </td>
                    <td class="d-none d-sm-table-cell">
                        {{ ( app.user in meetup.attendees ) ? '&#10003;' : '&#10007;' }}
                    </td>
                    <td class="d-none d-sm-table-cell">
                        <a href="{{ path("app_user_profile", {'id': meetup.coordinator.id}) }}">{{ meetup.coordinator.name}}</a>
                    </td>
                    <td>
                        <a href="{{ path("app_meetup_details", {'id': meetup.id}) }}">Afficher</a>
                    </td>
                </tr>
             {% endfor %}
        </table>
    </div>

    <div class="ms-3 mb-3">

    </div>
{% endblock %}
