{% extends 'singlecard.html.twig' %}

{% form_theme newMeetupFormView 'bootstrap_5_layout.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block card_header %}
    <h2 class="text-center">Nouvelle sortie</h2>
{% endblock %}

{% block card_body %}
    {{ form_start(newMeetupFormView) }}

    {{ form_row(newMeetupFormView.name) }}
    {{ form_row(newMeetupFormView.description) }}
    {{ form_row(newMeetupFormView.capacity) }}
    {{ form_row(newMeetupFormView.campus) }}

    {{ form_label(newMeetupFormView.location) }}
    <div class="form-control mb-2 pt-3">
        <div class="mb-2">
            <div class="d-flex">
                <div class="w-100 me-1">
                    {{ form_widget(newMeetupFormView.location.list) }}
                </div>
                <button class="btn btn-outline-primary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#locationCollapse">Nouveau</button>
            </div>
            {{ form_help(newMeetupFormView.location.list) }}
            {{ form_errors(newMeetupFormView.location.list) }}
        </div>
        <div id="locationCollapse" class="collapse mb-3 {{ showNewLocation ? 'show' : '' }}">
            {{ form_row(newMeetupFormView.location.new.name) }}
            {{ form_row(newMeetupFormView.location.new.address) }}
            {{ form_row(newMeetupFormView.location.new.latitude) }}
            {{ form_row(newMeetupFormView.location.new.longitude) }}

            {{ form_label(newMeetupFormView.location.new.city) }}
            <div class="form-control mb-2 pt-3">
                <div class="mb-2">
                    <div class="d-flex">
                        <div class="w-100 me-1">
                            {{ form_widget(newMeetupFormView.location.new.city.list) }}
                        </div>
                        <button class="btn btn-outline-primary"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#cityCollapse">Nouvelle</button>
                    </div>
                    {{ form_help(newMeetupFormView.location.new.city.list) }}
                    {{ form_errors(newMeetupFormView.location.new.city.list) }}
                </div>
                <div id="cityCollapse" class="collapse mb-3 {{ showNewCity ? 'show' : '' }}">
                    {{ form_widget(newMeetupFormView.location.new.city.new) }}
                    {{ form_help(newMeetupFormView.location.new.city.new) }}
                    {{ form_errors(newMeetupFormView.location.new.city.new) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(newMeetupFormView) }}

    <button class="form-control btn btn-primary" type="submit">Créer</button>

    {{ form_end(newMeetupFormView) }}
{% endblock %}
