{% extends 'singlecard.html.twig' %}

{% form_theme newMeetupFormView 'bootstrap_5_layout.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block card_header %}
    <h2 class="text-center">Nouvelle sortie</h2>
{% endblock %}

{% block card_body %}
    {{ form_start(newMeetupFormView) }}
    {{ form_row(newMeetupFormView.name) }}
    {{ form_row(newMeetupFormView.description) }}
    {{ form_row(newMeetupFormView.capacity) }}
    {{ form_row(newMeetupFormView.campus) }}

    {{ form_label(newMeetupFormView.location) }}
    {{ form_help(newMeetupFormView.location) }}
    {{ form_errors(newMeetupFormView.location) }}
    <div class="form-control mb-2 pt-3">
        <div class="mb-2">
            <div class="d-flex">
                <div class="w-100 me-1">
                    {{ form_widget(newMeetupFormView.location.location) }}
                </div>
                <button class="btn btn-outline-primary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#locationCollapse">Nouveau</button>
            </div>
            {{ form_help(newMeetupFormView.location.location) }}
            {{ form_errors(newMeetupFormView.location.location) }}
        </div>
        <div id="locationCollapse" class="collapse mb-3">
            {{ form_widget(newMeetupFormView.location.newLocation) }}
            {{ form_help(newMeetupFormView.location.newLocation) }}
            {{ form_errors(newMeetupFormView.location.newLocation) }}
        </div>
    </div>
    {{ form_rest(newMeetupFormView) }}
    <button class="form-control btn btn-primary" type="submit">Créer</button>
    {{ form_end(newMeetupFormView) }}
{% endblock %}
