<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <h1><a href=""></a>Sortir.com</h1>
    <ul class="toolbar">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        {% if app.user %}
            <li><a href="">Ville</a></li>
            <li><a href="">Campus</a></li>
            <li><a href="">Mon profil</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('app_login')}}">Se connecter</a></li>
        {% endif %}
    </ul>
</header>
<main>{% block body %}{% endblock %}</main>
<footer>

</footer>
</body>
</html>
